<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <title>Produktdetails</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../produktdb-stil.css">
</head>
<body>

    <h1>
        Produkt:
        <span th:text="${produktTitel}"></span>
    </h1>

    <p>
        <strong>Nummer:</strong>
        <span th:text="${produktNummer}"></span>
    </p>

    <p>
        <strong>Beschreibung:</strong>
        <span th:text="${produktBeschreibung}"></span>
    </p>

    <p>
        <strong>Preis:</strong>
        <span th:if="${produktPreis >= 0.0}" th:text="${produktPreis} + ' €'"></span>
        <span th:unless="${produktPreis >= 0.0}">derzeit nicht lieferbar</span>
    </p>

</body>
